body {
    font-family: 'Montserrat', sans-serif;
}

/* CSS Header, Footer */
.caixa {
	position: relative;
	width: 100%;
}

.banner {
	width: 100%;
    height: 20%;
}

nav{
	position: absolute;
	right: 15px;
	bottom: 25px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #e6e6e6;
	text-decoration: underline;
}

footer {
	margin: 20px 0 0 0;
	text-align: center;
	background: #000000;
	color: white;
	padding: 40px 0;
	font-size: 0.70em;
}

/* CSS home */
.titulo {
	padding: 1em;
	text-align: center;
	font-size: 2em;
	clear: left;
}

.apresentacao {
	padding: 2em 0;
	text-align: center;
	background: #FEFEFE;
}

.tabela-apresentacao {
	margin-top: 2em;
    width:20%; 
    margin-left:40%; 
    margin-right:40%;
  }

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}

td:first-child {
  font-weight: bold;
}

.informacoes {
	background: linear-gradient(#FEFEFE, #F8F8FF);
}

li b {
	font-weight: bold;
}

.informacoes li {
	text-align: center;
	font-size: 1.25em;
	line-height: 1.5em;
}

.informacoes li:hover {
	text-decoration: underline;
}

.frame {
	background: #F8F8FF;
}
iframe {
	position: relative;
	margin-top: 100px;
	margin-left: 12.5%;
	margin-right: 12.5%;
}

/* CSS Pagina Formação Academica */

.formacao-academica {
	padding: 2em 0;
	text-align: center;
	line-height: 2em;
	font-size: 1.5em;
	background: #FEFEFE;
}

.formacao-complementar {
	padding: 2em 0;
	text-align: center;
	line-height: 1.5em;
	font-size: 1.4em;
	background: linear-gradient(#FEFEFE, #F8F8FF);
}

/* CSS Experiencia profissional */

.imagem-cv {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.caixa-cv {
	position: relative;
	width: 75%;
	left: 12.5%;
	background: linear-gradient(90deg,#F8F8FF, #FEFEFE, #F8F8FF);
}

.experiencia-profissional {
	text-align: center;
	padding: 2em 0;
	text-align: center;
	line-height: 1.7em;
	font-size: 1.2em;
}

.resumo-qualificacoes {
	text-align: center;
	text-align: center;
	line-height: 1.3em;
	font-size: 1.2em;
}